@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root
{
    --themeColor: #2c2e2e;
    --primaryColor-blue: #382ae1;
    --primaryColor-Gray: #F8F9FE;
    --fontFamily: "Poppins", sans-serif;
}

html,
body{
    width: 100%;
    height: 100%;

    background-color: #E0E8FF;
}

.container
{
    max-width: 1440px;
    height: 100vh;
    background: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.container .summary-card-contain
{
    width: 300px;
    height: auto;
    
    background-color: #fff;
    border-radius: 12px;
    overflow: hidden;
}

.summary-card-contain .card-img-contain
{
    width: 100%;
    height: auto;
}

.card-img-contain img
{
    width: 100%;
}

.summary-card-content
{
    text-align: center;
    padding: 20px 30px;
}

.summary-card-content .card-head
{
    text-transform: capitalize;
    font: 700 20px var(--fontFamily);
}

.summary-card-content .card-para
{
    font: 500 12px var(--fontFamily);
    line-height: 16px;
    margin: 10px 0;
    opacity: 0.6;
}

.summary-card-content .card-info
{
    background-color: var(--primaryColor-Gray);
    border-radius: 12px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 16px 10px;
}

.card-info .icon
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-info .icon img
{
    width: 40px;
    height: 40px;
}

.summary-card-content .card-info
{
    margin-bottom: 18px;
}

.card-info .card-info-plan
{
    font: 500 12px var(--fontFamily);
    text-align: left;
    line-height: 14px;
}

.card-info-plan .plan-head
{
    font: 700 14px var(--fontFamily);
}

.card-info-plan .plan
{
    opacity: 0.6;
}

.card-info .plan-change
{
    font: 700 10px var(--fontFamily);
    color: var(--primaryColor-blue);
}

.card-info .plan-change:hover
{
    text-decoration: none;
}

.summary-card-content .card-button button
{
    width: 100%;
    padding: 8px 0;
    margin: 2px 0;

    border-radius: 4px;
    border: none;

    font: 700 11px var(--fontFamily);
    background: transparent;
    opacity: 0.6;
    cursor: pointer;
}

.summary-card-content .card-button .activeBtn
{
    background: var(--primaryColor-blue);
    box-shadow: 0 4px 8px #c9c4ff;
    color: #ffffff;
    opacity: 1;
}
.summary-card-content .card-button button:hover
{
    opacity: 1;
}

.summary-card-content .card-button .activeBtn:hover{
    background: #392ae19e;
}

.attribution 
{ 
    width: 80%;

    font: 500 12px var(--fontFamily);
    text-align: center;
    text-transform: capitalize; 

    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.attribution a 
{ 
    font: 600 12px var(--fontFamily);
    color: var(--primaryColor-blue); 
}